body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-color: #f9f5d2;
  margin-top: 0;
  top: 0;
  padding: 1em 3em;
  text-align: center;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f9f5d2;
  text-align: center;
}
article {
  padding: 2em;
}
.title-view {
  margin-top: 2em;
}
.links-categories a {
  margin: 1em; 
}
.active {
  text-decoration: none;
  font-weight: bold;
}
.list-group {
  list-style-type: none;
}
.list-group li {
  float: left;
  margin-left: 2em;
}
.current {
  color: pink;
}
.card { 
  margin: 2em 0em;
  padding: 1em;
}
.navbar-nav {
  flex-direction: row;
}
.nav-item {
  margin-left: 2em;
}